build.log
certs/ca.crt
certs/ca.key
certs/ca.srl
certs/etcd-client.crt
certs/etcd-client.csr
certs/etcd-client.key
certs/etcd-server.crt
certs/etcd-server.csr
certs/etcd-server.key
certs/haproxy.pem
certs/openssl.cnf
certs/patroni-api.crt
certs/patroni-api.csr
certs/patroni-api.key
certs/pgbouncer.crt
certs/pgbouncer.csr
certs/pgbouncer.key
certs/postgresql-server.crt
certs/postgresql-server.csr
certs/postgresql-server.key
rpms_urls.txt
reports/report_*.md
wheels/**
ssh/id_rsa
ssh/id_rsa.pub
__pycache__/**
__pycache__