services:
  etcd1:
    image: patroni-rhel8-etcd:latest
    container_name: etcd1
    hostname: etcd1
    entrypoint: /bin/bash -c "/usr/sbin/sshd && /bin/bash /scripts/manage/entrypoint_etcd.sh"
    environment:
      - ETCD_NAME=etcd1
      - ETCD_DATA_DIR=/etcd-data
      - INT_ETCD_CLIENT_PORT=${INT_ETCD_CLIENT_PORT}
      - INT_ETCD_PEER_PORT=${INT_ETCD_PEER_PORT}
      - VERIFY_CLIENT_CERT=${VERIFY_CLIENT_CERT}
    ports:
      - "${SSH_PORT_ETCD1}:${INT_SSH_PORT}"
      - "${EXT_ETCD_CLIENT_PORT_ETCD1}:${INT_ETCD_CLIENT_PORT}"
    volumes:
      - ./certs_new:/certs:rw
      - ./scripts:/scripts:ro
      - etcd1_data:/etcd-data
    networks:
      - default

  etcd2:
    image: patroni-rhel8-etcd:latest
    container_name: etcd2
    hostname: etcd2
    entrypoint: /bin/bash -c "/usr/sbin/sshd && /bin/bash /scripts/manage/entrypoint_etcd.sh"
    environment:
      - ETCD_NAME=etcd2
      - ETCD_DATA_DIR=/etcd-data
      - INT_ETCD_CLIENT_PORT=${INT_ETCD_CLIENT_PORT}
      - INT_ETCD_PEER_PORT=${INT_ETCD_PEER_PORT}
      - VERIFY_CLIENT_CERT=${VERIFY_CLIENT_CERT}
    ports:
      - "${SSH_PORT_ETCD2}:${INT_SSH_PORT}"
      - "${EXT_ETCD_CLIENT_PORT_ETCD2}:${INT_ETCD_CLIENT_PORT}"
    volumes:
      - ./certs_new:/certs:rw
      - ./scripts:/scripts:ro
      - etcd2_data:/etcd-data
    networks:
      - default

  etcd3:
    image: patroni-rhel8-etcd:latest
    container_name: etcd3
    hostname: etcd3
    entrypoint: /bin/bash -c "/usr/sbin/sshd && /bin/bash /scripts/manage/entrypoint_etcd.sh"
    environment:
      - ETCD_NAME=etcd3
      - ETCD_DATA_DIR=/etcd-data
      - INT_ETCD_CLIENT_PORT=${INT_ETCD_CLIENT_PORT}
      - INT_ETCD_PEER_PORT=${INT_ETCD_PEER_PORT}
      - VERIFY_CLIENT_CERT=${VERIFY_CLIENT_CERT}
    ports:
      - "${SSH_PORT_ETCD3}:${INT_SSH_PORT}"
      - "${EXT_ETCD_CLIENT_PORT_ETCD3}:${INT_ETCD_CLIENT_PORT}"
    volumes:
      - ./certs_new:/certs:rw
      - ./scripts:/scripts:ro
      - etcd3_data:/etcd-data
    networks:
      - default

  node1:
    image: patroni-rhel8-postgresql:latest
    container_name: node1
    hostname: node1
    entrypoint: /bin/bash /scripts/manage/entrypoint_node.sh /usr/local/bin/supervisord -c /etc/supervisord.conf
    user: root
    env_file: .env
    environment:
      - PATRONI_NAME=node1
      - PATRONI_TAGS_DC=dc1
      - PATRONI_TAGS_FAILOVER_PRIORITY=100
      - PATRONI_ETCD3_HOSTS=${ETCD_HOSTS}
      - PATRONI_ETCD3_PROTOCOL=https
      - PATRONI_ETCD3_CACERT=/etc/patroni/certs/ca.crt
      - PATRONI_ETCD3_CERT=/etc/patroni/certs/etcd-client.crt
      - PATRONI_ETCD3_KEY=/etc/patroni/certs/etcd-client.key
      - PATRONI_ETCD3_USERNAME=${ETCD_PATRONI_USER}
      - PATRONI_ETCD3_PASSWORD=${ETCD_PATRONI_PASSWORD}
      - PATRONI_RESTAPI_CONNECT_ADDRESS=node1:${INT_PATRONI_PORT}
      - PATRONI_POSTGRESQL_CONNECT_ADDRESS=node1:${INT_PG_PORT}
      - CACERT_PATH=/etc/patroni/certs/ca.crt
      - PATRONI_API_CERT=/etc/patroni/certs/patroni-api.crt
      - PATRONI_API_KEY=/etc/patroni/certs/patroni-api.key
      - POSTGRES_SERVER_CERT=/etc/patroni/certs/postgresql-server.crt
      - POSTGRES_SERVER_KEY=/etc/patroni/certs/postgresql-server.key
      - ETCD_CLIENT_CERT=/etc/patroni/certs/etcd-client.crt
      - ETCD_CLIENT_KEY=/etc/patroni/certs/etcd-client.key
    ports:
      - "${SSH_PORT_NODE1}:${INT_SSH_PORT}"
      - "${EXT_PG_PORT_NODE1}:${INT_PG_PORT}"
      - "${EXT_PATRONI_PORT_NODE1}:${INT_PATRONI_PORT}"
    volumes:
      - node1_data:/datas
      - ./certs_new:/certs:rw
      - ./scripts:/scripts:ro
    depends_on:
      - etcd1
      - etcd2
      - etcd3
    networks:
      - default

  node2:
    image: patroni-rhel8-postgresql:latest
    container_name: node2
    hostname: node2
    entrypoint: /bin/bash /scripts/manage/entrypoint_node.sh /usr/local/bin/supervisord -c /etc/supervisord.conf
    user: root
    env_file: .env
    environment:
      - PATRONI_NAME=node2
      - PATRONI_TAGS_DC=dc1
      - PATRONI_TAGS_FAILOVER_PRIORITY=50
      - PATRONI_ETCD3_HOSTS=${ETCD_HOSTS}
      - PATRONI_ETCD3_PROTOCOL=https
      - PATRONI_ETCD3_CACERT=/etc/patroni/certs/ca.crt
      - PATRONI_ETCD3_CERT=/etc/patroni/certs/etcd-client.crt
      - PATRONI_ETCD3_KEY=/etc/patroni/certs/etcd-client.key
      - PATRONI_ETCD3_USERNAME=${ETCD_PATRONI_USER}
      - PATRONI_ETCD3_PASSWORD=${ETCD_PATRONI_PASSWORD}
      - PATRONI_RESTAPI_CONNECT_ADDRESS=node2:${INT_PATRONI_PORT}
      - PATRONI_POSTGRESQL_CONNECT_ADDRESS=node2:${INT_PG_PORT}
      - CACERT_PATH=/etc/patroni/certs/ca.crt
      - PATRONI_API_CERT=/etc/patroni/certs/patroni-api.crt
      - PATRONI_API_KEY=/etc/patroni/certs/patroni-api.key
      - POSTGRES_SERVER_CERT=/etc/patroni/certs/postgresql-server.crt
      - POSTGRES_SERVER_KEY=/etc/patroni/certs/postgresql-server.key
      - ETCD_CLIENT_CERT=/etc/patroni/certs/etcd-client.crt
      - ETCD_CLIENT_KEY=/etc/patroni/certs/etcd-client.key
    ports:
      - "${SSH_PORT_NODE2}:${INT_SSH_PORT}"
      - "${EXT_PG_PORT_NODE2}:${INT_PG_PORT}"
      - "${EXT_PATRONI_PORT_NODE2}:${INT_PATRONI_PORT}"
    volumes:
      - node2_data:/datas
      - ./certs_new:/certs:rw
      - ./scripts:/scripts:ro
    depends_on:
      - etcd1
      - etcd2
      - etcd3
    networks:
      - default

  node3:
    image: patroni-rhel8-postgresql:latest
    container_name: node3
    hostname: node3
    entrypoint: /bin/bash /scripts/manage/entrypoint_node.sh /usr/local/bin/supervisord -c /etc/supervisord.conf
    user: root
    env_file: .env
    environment:
      - PATRONI_NAME=node3
      - PATRONI_TAGS_DC=remote
      - PATRONI_TAGS_FAILOVER_PRIORITY=1
      - PATRONI_ETCD3_HOSTS=${ETCD_HOSTS}
      - PATRONI_ETCD3_PROTOCOL=https
      - PATRONI_ETCD3_CACERT=/etc/patroni/certs/ca.crt
      - PATRONI_ETCD3_CERT=/etc/patroni/certs/etcd-client.crt
      - PATRONI_ETCD3_KEY=/etc/patroni/certs/etcd-client.key
      - PATRONI_ETCD3_USERNAME=${ETCD_PATRONI_USER}
      - PATRONI_ETCD3_PASSWORD=${ETCD_PATRONI_PASSWORD}
      - PATRONI_RESTAPI_CONNECT_ADDRESS=node3:${INT_PATRONI_PORT}
      - PATRONI_POSTGRESQL_CONNECT_ADDRESS=node3:${INT_PG_PORT}
      - CACERT_PATH=/etc/patroni/certs/ca.crt
      - PATRONI_API_CERT=/etc/patroni/certs/patroni-api.crt
      - PATRONI_API_KEY=/etc/patroni/certs/patroni-api.key
      - POSTGRES_SERVER_CERT=/etc/patroni/certs/postgresql-server.crt
      - POSTGRES_SERVER_KEY=/etc/patroni/certs/postgresql-server.key
      - ETCD_CLIENT_CERT=/etc/patroni/certs/etcd-client.crt
      - ETCD_CLIENT_KEY=/etc/patroni/certs/etcd-client.key
    ports:
      - "${SSH_PORT_NODE3}:${INT_SSH_PORT}"
      - "${EXT_PG_PORT_NODE3}:${INT_PG_PORT}"
      - "${EXT_PATRONI_PORT_NODE3}:${INT_PATRONI_PORT}"
    volumes:
      - node3_data:/datas
      - ./certs_new:/certs:rw
      - ./scripts:/scripts:ro
    depends_on:
      - etcd1
      - etcd2
      - etcd3
    networks:
      - default

  haproxy:
    image: patroni-rhel8-haproxy:latest
    container_name: haproxy
    hostname: haproxy
    command: /bin/bash -c "/usr/sbin/sshd && haproxy -f /usr/local/etc/haproxy/haproxy.cfg || tail -f /dev/null"
    depends_on:
      - node1
      - node2
      - node3
    ports:
      - "${SSH_PORT_HAPROXY}:${INT_SSH_PORT}"
      - "${EXT_HAPROXY_RW_PORT}:${INT_HAPROXY_RW_PORT}"
      - "${EXT_HAPROXY_RO_PORT}:${INT_HAPROXY_RO_PORT}"
      - "${EXT_HAPROXY_STATS_PORT}:${INT_HAPROXY_STATS_PORT}"
    volumes:
      - ./certs_new:/certs:rw
    env_file: .env
    networks:
      - default

  pgbouncer:
    image: patroni-rhel8-pgbouncer:latest
    container_name: pgbouncer
    hostname: pgbouncer
    entrypoint: /bin/bash -c "/usr/sbin/sshd && /bin/bash /scripts/manage/entrypoint_node.sh /usr/bin/pgbouncer /etc/pgbouncer/pgbouncer.ini || tail -f /dev/null"
    user: root
    env_file: .env
    environment:
      - RUN_AS_USER=postgres
      - CACERT_PATH=/etc/patroni/certs/ca.crt
      - POSTGRES_SERVER_CERT=/etc/patroni/certs/postgresql-server.crt
      - POSTGRES_SERVER_KEY=/etc/patroni/certs/postgresql-server.key
    ports:
      - "${SSH_PORT_PGBOUNCER}:${INT_SSH_PORT}"
      - "${EXT_PGBOUNCER_PORT}:${INT_PGBOUNCER_PORT}"
    volumes:
      - ./certs_new:/certs:rw
      - ./scripts:/scripts:ro
      - ./pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt:rw
    depends_on:
      - haproxy
    networks:
      - default

networks:
  default:
    name: patroni-rhel8_default

volumes:
  node1_data:
  node2_data:
  node3_data:
  etcd1_data:
  etcd2_data:
  etcd3_data:
