# PgBouncer Configuration - Documentée en Français
# ===============================================

[databases]
# Redirection vers HAProxy pour le primaire
postgres = host=haproxy port=5000 dbname=postgres

[pgbouncer]
listen_port = 6432
listen_addr = 0.0.0.0
auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
admin_users = {{ postgres_user }}

# --- SÉCURITÉ TLS ---
client_tls_sslmode = require
client_tls_key_file = /certs/server.key
client_tls_cert_file = /certs/server.crt
client_tls_ca_file = /certs/ca.crt

server_tls_sslmode = require
server_tls_ca_file = /certs/ca.crt

# --- PARAMÈTRES DE POOLING ---
pool_mode = session
max_client_conn = 100
default_pool_size = 20
